/*import the google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #e13d7c
}

.start_btn,
.info_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: tranlate(-50%, -50%);
}

.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: #e13d7c;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.info_box {
    display: none;
    width: 540px;
    backgrund: #fff;
    border-radius: 5px;
}

.info_title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info_list {
    padding: 15px 35px;
}

.info_box .info_list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info_list .info span {
    font-weight: 600;
    color: #e13d7c;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}

.info_box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid #e13d7c;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.restart {
    color: #fff;
    background: #e13d7c;
}

.button button.restart:hover {
    background: #e13d7c;
}

.buttons button.quit {
    color: #e13d7c;
}

.buttons button.quit:hover {
    color: #fff;
    background: #e13d7c;
}